/*Header */
.header {
  background-color: var(--background);
  padding: 1rem;
  margin: 0; 
  
}

/* Inner Container, logo + menu button*/
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

/* Logo (image + text) */
.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  font-family: var(--font-main);
  font-size: var(--text-medium);
  font-weight: var(--font-bold);
  color: var(--white);
}

/* Hamburger Menu Button */
.menu-toggle {
  background: none;
  border: none;
  padding: 0.25rem;
}

/* Hidden Menu on Mobile */
.nav-menu {
  display: none; /* Hide on Mobile */
  flex-direction: column;
  gap: 1rem;
  margin: 0; 
}
/* Hide desktop nav on mobile */

.desktop-nav {
  display: none;
}


.nav-menu a {
  text-decoration: none;
  font-family: var(--font-main);
  font-size: var(--text-medium);
  color: var(--white);
}
/*Overlay do menu  */
.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--background);
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  z-index: 999; /*Stays on top */
}

/* Menu Top: logo + close button  */
.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

/* Close Button  */
.menu-close {
  background: none;
  border: none;
  cursor: pointer;
}

/*Menu Links */
.menu-nav {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.menu-nav a {
  font-family: var(--font-main);
  font-size: var(--text-btn);
  font-weight: var(--font-medium);    
  line-height: 2.75rem; 
  color: var(--white);
  text-decoration: none;
}

/* iPads (>=768px e <1024px) */
@media (min-width: 768px) and (max-width: 1023px) {

  .header {
    display: flex;
    justify-content: center; 
    padding-top: 1.5rem; 
  }

  .logo img {
    width: 150px; 
    height: auto;  
  }

  .header-container {
    max-width: 60rem;  
    width: 100%;          
    padding: 0 2rem;   
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

/* Hide hamburger button */
  .menu-toggle {
    display: none;
  }

  .desktop-nav {
    display: flex;
    gap: 1.5rem; 
  }

  .desktop-nav a {
    font-size: 0.95rem; 
    font-weight: var(--font-regular);
    color: var(--white);
    text-decoration: none;
  }

  .desktop-nav a:hover {
    color: var(--primary);
  }

  .menu-overlay {
    display: none;
  }
}

/*Desktop (>=1024px) */
@media (min-width: 1024px) {

.header {
    display: flex;
    justify-content: center; 
    padding-top: 2.1875rem; 
  }
   .logo img {
    width: 180px;   
    height: auto;  
  }

  .header-container {
    max-width: 73.4375rem; 
    width: 100%;          
    padding: 0 3rem;      
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  /* Hide hamburger button */
  .menu-toggle {
    display: none;
  }

  .desktop-nav {
    display: flex;
    gap: 2rem;
  }

  .desktop-nav a {
    font-size: var(--text-btn);
    font-weight: var(--font-regular);
    color: var(--white);
    text-decoration: none;
  }

  .desktop-nav a:hover {
    color: var(--primary);
  }

  .menu-overlay {
    display: none;
  }
}