/* ===== PARTNERS SECTION CSS ===== */
.partners {
  padding: 1.5rem 1rem;
  text-align: center;
  background-color: var(--white);
}

/* Logos */
.partners-logos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.partners-logos img {
  max-width: 150px;
  height: auto;
}
