/* ===== TEAM CARD ===== */
.team-card {
  width: 100%;
  max-width: 17.5rem; /* ~279px */
  background-color: var(--white);
  border-radius: 0.5rem;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  text-align: center;
  padding: 1rem 2rem;
  margin: 0 auto; 
}

.team-card-image {
  width: 100%;
  max-width: 11rem; /* ~175px*/
  margin-bottom: 1rem;
  object-fit: cover;
}

.team-card-name {
  margin-bottom: 0.25rem;
  text-align: left;
}

.team-card-role {
  margin-bottom: 0.25rem;
  text-align: left;
}



