/* ===== Basic Reset ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* ===== CORES ===== */
  --background: #74C69D;
  --white: #ffffff;
  --white-75: rgba(255, 255, 255, 0.75);
   --black: #000000; 

  /* ===== FONTES ===== */
  --font-main: 'Work Sans', sans-serif;
  --font-heading: 'Crimson Text', serif;

  /* ===== PESOS ===== */
  --font-bold: 700;
  --font-medium: 500;
  --font-regular: 400;

  /* ===== TAMANHOS DE TEXTO ===== */
   --text-small: 0.9375rem; /* p */
  --text-medium: 1rem;     /* menus / uppercase */
  --text-large: 1.75rem;   /* títulos */
  --text-btn: 1.25rem;     /* botão */

  /* ===== LINE HEIGHT ===== */
  --line-height-default: 125%;

  /* ===== LETTER SPACING ===== */
  --letter-spacing-uppercase: 0.5rem.;
  --letter-spacing-normal: 0;

  /* ===== TEXT TRANSFORM ===== */
  --uppercase: uppercase;
  --normal-case: none;

  /* ===== TEXT ALIGN ===== */
  --text-center: center;
  --text-left: left;
}
